@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Changa:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
}
.main {
  width: 100%;
  height: 100vh;
  background-image: url("../images/background.jpg");
  background: rgba(0, 0, 0, 0.945);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.main_info {
  font-family: "Changa", sans-serif;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10%;
}
.main_info p {
  font-size: 2.5em;
  color: #fff;
}
.main_info span {
  position: absolute;
  white-space: nowrap;
  margin-left: 7px;
  overflow: hidden;
  border-right: 2px solid #fff;
  display: none;
}
.profile {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  width: 50%;
  height: 100vh;
}
.profile img {
  position: absolute;
  width: 90%;
  height: 90%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .main_info p {
    font-size: 1.5em;
    color: #fff;
  }
  .profile img {
    position: absolute;
    bottom: -190px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    left: 50%;
    transform: translateX(-50%);
  }
  .profile {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }
  .main_info span {
    color: rgb(235, 124, 124);
  }
  .main_info {
    top: 40%;
  }
}
