@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Changa:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  height: 100vh;
  background-image: url("../images/background.jpg");
  background: rgba(0, 0, 0, 0.945);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.curser {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 10000;
  background: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: 0.1s ease;
  pointer-events: none;
}
.curser_dot {
  position: absolute;
  width: 5px;
  height: 5px;
  z-index: 100;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}
.main_info {
  font-family: "Changa", sans-serif;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10%;
}
.main_info p {
  font-size: 2.5em;
  color: #fff;
}
.main_info .iam_txt {
  color: rgb(235, 124, 124);
}
.blinker {
  color: #fff;
}
.profile {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  width: 50%;
  height: 100vh;
}
.profile img {
  position: absolute;
  width: 90%;
  height: 90%;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media screen and (max-width: 768px) {
  .main_info p {
    font-size: 1.5em;
    color: #fff;
  }
  .profile img {
    position: absolute;
    bottom: -190px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    left: 50%;
    transform: translateX(-50%);
  }
  .profile {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }

  .main_info {
    top: 40%;
  }
  .curser,
  .curser_dot {
    display: none;
  }
}
